.center {
    flex: 1;
    padding: 20px;
    display: flex;
    overflow: auto;
    flex-direction: column;
    gap: 10px;
    .message {
        display: flex;
        max-width: 80%;
        gap: 10px;
        padding: 10px;
        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }

        .text {
            display: flex;
            flex: 1;
            flex-direction: column;
            gap: 5px;
            p {
                border-radius: 10px;
                padding: 10px;
                background-color: black;
            }
            img {
                width: 100%;
                height: auto;
                border-radius: 10px;
                object-fit: cover;
            }
        }

        .time {
            display: flex;
            justify-content: flex-end;
            font-size: 12px;
            font-style: italic;
        }


        &.message-own {
            align-self: flex-end;

            .text {
                p {
                    background-color: #3b80f7;
                }
            }
        }
    }

    
}