.addUser{
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 50vw;
    width: fit-content;
    height: 50vh;
    background-color: rgba(13, 3, 69, 0.84);


    form {
        display: flex;
        justify-content: center;
        gap: 10px;
        border-bottom: 1px solid #e0e0e09b;
        padding-bottom: 10px;
        input {
            padding: 10px;
            margin-left: 10px;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.904);
            color: black;
            border: none;
            outline: none;
            width: 20vw;
        }

        button {
            padding: 10px;
            border-radius: 10px;
            background-color: #3b80f7a0;
            color: white;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: #3b80f7;
            }
        }
    }

    .userResult {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #e0e0e09b;
        
        .details{
            display: flex;
            align-items: center;
            gap: 20px;
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }
    
            span {
                font-size: 18px;
                font-weight: 500;
                max-width: fit-content;
            }
        }
        

        button {
            padding: 10px;
            border-radius: 10px;
            background-color: #3b80f7a0;
            color: white;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: #3b80f7;
            }
        }
    }
}